# ignore user specific instance files
*.inst
# ignore result files in the runtime complexity evaluation
*.dat
# ignore .idea related stuff
.idea/
# cython
*.pyc
# chache files
.cache/
# workspace file
.idea/workspace.xml
